body {
    background-color: navy;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top: 0;
}

header {
    background-color: #836993;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 162px;
}

#content {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 32px;
}

.loginDiv {
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 20px;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

#loginButton {
    width: 200px;
    background-color: cornflowerblue;
}

#loginButton:hover {
    background-color: dodgerblue;
}

.editButton, .deleteButton, #saveButton, #cancelButton, #loginButton {
    color: black;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 8px;
}
#loggedInDetails {
    margin: 0;
    text-align: right;
    display: inline;
    float: right
}

.deleteButton, #cancelButton {
    visibility: hidden;
    background-color: indianred;
    margin-left: 10px;
}

.editButton {
    visibility: hidden;
    background-color: silver;
}

