/* Dropdown Button */
.dropbtn {
    background-color: #836993;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    top: 20px;
    right: 100px;
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;} */


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C6CAED;
    margin: 0 auto;
}

/* Style the header */
header {
    background-color: #836993;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 162px;
}

#loggedInDetails {
    height: 50px;
    width: 350px;
    top: 85px;
    right: 120px;
    margin: 0;
    text-align: right;
    display: inline-block;
    position: absolute;
    float: right;
    font-size: 20px;
}

#homeContent {
    max-height: 2000px;
    width: 100%;
    height: 100%;
    display: flex;
    background-image: linear-gradient(rgba(255,255,255,0.40), rgba(255,255,255,0.40)), url("/client/img/fitnessbackground.jpeg"); /* Adds opacity so that text on top is easier to read */
    background-color: lightcoral;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

/* Text on top of background image */
#insideTextHome {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}




#box1 {
    background-color: #FAC8CD;
    width: 49.5%;
    height: 90%;
    float: left;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

/*Style the second (right) box*/
#box2 {
    background-color: #FAC8CD;
    position: absolute;
    width: 900px;
    height: 100%;
    float: right;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 0px;
    top: 181px;
    font-size: 25px;
}

.exerciseitem {
    font-size: 19px;
    padding: 10px;
    background-color: white;
    height: 110px;
    width: 800px;
    margin-top: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.search-container button, #addExerciseButton {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    color: white;
    background: rgba(141,85,255,0.81);
    font-size: 17px;
    cursor: pointer;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.search-container button:hover, #addExerciseButton {
    background: rgba(111,59,255,0.81);
}

.search-container a, .search-container input[type=text]{
    float: none;
    font-size: 17px;
    text-align: left;
    width: 450px;
    height: 15px;
    margin: 0;
    padding: 14px;
}
.search-container input[type=text] {
    border: 1px solid #ccc;
}